/* Style for h1 elements */
h1 {
  font-size: 100px;
  border-bottom: 1px solid black;
  width: 65%;
  margin: auto;
  padding: 30px;
}

/* Style for the updatedDateTime element */
#updatedDateTime {
  background: #168862;
  color: white;
  padding: 20px;
  width: 35%;
  margin: auto;
  border-radius: 25px;
  margin-top: 40px;
}

/* General styling for the body */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* Styling for the header section */
header {
  background-color: #ffffff;
  color: #4e586d;
  text-align: center;
  padding: 10px;
}

/* Styling for the main content section */
main {
  padding: 20px;
  font-size: 20px;
}

/* Styling for time blocks */
.time-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
}

/* Styling for past time blocks */
.past input {
  background-color: #d3d3d3;
}

/* Styling for present time blocks */
.present input {
  background-color: #ff6961;
}

/* Styling for future time blocks */
.future input {
  background-color: #77dd77;
}

/* Styling for the timeDisplay class within time blocks */
.timeDisplay {
  padding: 15px;
  color: black;
  border-radius: 25px;
  font-size: 30px;
  font-family: sans-serif;
}

/* Styling for textarea within time blocks */
input {
  width: 70%;
  padding: 5px;
  font-size: large;
  height: 80px;
  border-radius: 10px;
  border: none;
}

/* Styling for buttons */
button {
  cursor: pointer;
  font-size: 20px;
  padding: 16px 30px;
  border-radius: 25px;
  background: #0f1f43f5;
  border: none;
  color: white;
  margin: 15px;
}

Button:active {
  border: 1px solid #0f1f43f5;
  background: rgb(237, 234, 234);
  color: #0f1f43f5;
}

.past,
.present,
.future {
  background-color: #f9f9ff;
}

/* Media query for screens up to 500px and up to 748px wide */
@media only screen and (max-width: 500px), (max-width: 748px) {
  /* Styles for h1 element */
  h1 {
    font-size: 30px;
  }

  /* Styles for input elements */
  input {
    height: 50px;
  }

  /* Styles for elements with class .past, .present, .future */
  .past,
  .present,
  .future {
    border-radius: 10px;
    padding: 20px;
    width: 90%;
  }

  /* Styles for elements with class .updatedDateTime */
  .updatedDateTime {
    font-size: 15px;
    width: 50%;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
  }

  /* Styles for elements with class .timeDisplay */
  .timeDisplay {
    padding: 10px;
    font-size: x-large;
  }

  /* Styles for elements with class .save-button */
  .save-button {
    margin: 10px;
    padding: 7px 15px;
    font-size: initial;
  }
}
